<div class="galleryContainer">
	<mat-card class="card">
		<mat-card-content>
			<h2>Leitung</h2>
			<p><b>CEO:</b>{{club.gf}}</p>
			<p><b>Sportchef:</b>{{club.sportchef}}</p>
			<p><b>Coach:</b>{{club.headcoach}}</p>
			<p><b>Gründungsjahr:</b>{{club.gruendung}}</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="card">
		<mat-card-content>
			<h2>Stadion</h2>
			<p>{{club.stadion}}</p>
			<p><b>Sitzplätze:</b>{{club.sitzplaetze}}</p>
			<p><b>Stehplätze:</b>{{club.stehplaetze}}</p>
			<p><b>Total:</b></p>
		</mat-card-content>
	</mat-card>
	<mat-card class="card">
		<mat-card-content>
			<h2>Meistertitel</h2>
		</mat-card-content>
	</mat-card>
</div>