<div class="container">
	<mat-card class="card1">
		<mat-card-title>HW</mat-card-title>
		<mat-card-content>Go to Hello World Component</mat-card-content>
		<a routerLink="/hw"><mat-icon><i class="material-icons">arrow_forward</i></mat-icon></a>
	</mat-card>


	<mat-card class="card2">
		<mat-card-title>Nghome</mat-card-title>
		<mat-card-content>Go to default Angular Component</mat-card-content>
		<a routerLink="/ng"><mat-icon><i class="material-icons">arrow_forward</i></mat-icon></a>
	</mat-card>

	<mat-card class="card3">
		<mat-card-title>Gal</mat-card-title>
		<mat-card-content>Go to Gallery</mat-card-content>
		<a routerLink="/gal"><mat-icon><i class="material-icons">arrow_forward</i></mat-icon></a>
	</mat-card>
	<mat-card class="card3">
		<mat-card-title>Vid</mat-card-title>
		<mat-card-content>Go to Video</mat-card-content>
		<a routerLink="/vid"><mat-icon><i class="material-icons">arrow_forward</i></mat-icon></a>
	</mat-card>
</div>